<html>
<head>

	<title>Neutral Noggin - More</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/neutral-noggin.css" rel="stylesheet">

	<!-- Link css files -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css"rel="stylesheet">
	<link href="css/neutral-noggin.css" rel="stylesheet">

	<!-- Link google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cabin|Montserrat|Roboto+Slab&display=swap" rel="stylesheet">

	<!-- Script for linking tooltaskbars html-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#topbanner").load("topbanner.html");
		});
	</script>

	<!-- Link scripts -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/neutral-noggin.js"></script>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159295350-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-159295350-1', { 'optimize_id': 'GTM-T88GRXF'});
	</script>

	<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-159295350-1', 'auto');
	ga('require', 'GTM-T88GRXF');
	ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
</head>

<body>
	<div id="topbanner"></div>

	<div class="tilt" id="{{userTilt}}" name="tilt"></div>
	<div class="userlogin" id="{{loggedInProfile}}" name="userlogin"></div>
	{{#if altView}}
		<div class="version" id="B" name="ver"></div>
	{{else}}
		<div class="version" id="A" name="ver"></div>
	{{/if}}

	<div class="myTaskbar">

			<div class="taskbarTable">
				<table>
					<tr>
			        	<td>
			        		<a id="taskButtonH" href="home?ut=0">Daily News</a>
			        	</td>
			        	<td>
			        		<a id="taskButtonS" href="saved?ut=0">Saved</a>
			        	</td>
			        	<td>
			        		<a id="taskButtonM" href="more?ut=0" class="selected">More</a>
			        	</td>
			      	</tr>
			    </table>
			</div>

	</div>




	<div class="container" id="more-page">

		<h4 class="title">Settings and More</h4>
		<p class="logMsg" id="{{loggedInProfile}}">(logged in as {{loggedInProfile}})</p>

		<div id="login">
			<a id="logoutButton">
				<button class="logoutButton" type="button">Logout</button>
			</a>
		</div>		

		<div class="container article-break"></div>

		<div class="container setting">
			<p class="setting-text">Account</p>

			<div id="login">
				<a id="loginButton" href="login?ut=0">
					<button type="button" >Login</button>
				</a>
			</div>
			<div id="login">
				<a id="registerButton" href="register?ut=0">
					<button type="button" >Create Account</button>
				</a>
			</div>

		</div>


		<div class="container small-break"></div>


		<div class="container setting">
			<p class="setting-text">Your Noggin Scale</p>

			<div id="login">
				<a href="scale?ut=0" id="scaleButtonFromMore">
					<button type="button">View</button>
				</a>
			</div>
		</div>

			{{#if altView}}
			{{> scaleDescription}}
			{{else}}
			{{/if}}

		<div class="container small-break"></div>



	</div>




</body>
</html>